@{
	ViewData["Title"] = "ログイン";
	Layout = "~/Views/Account/_Layout_Login.cshtml";
}

<div class="text-center">
	<h1 class="display-4">ログイン画面</h1>

	<div>
		<form method="post">
			<table>
				<tr>
					<td><p> ログインネーム</p></td>
					<td>@Html.TextBox("name", "", new { maxlength = 20 })</td>
				</tr>
				<tr>
					<td><p> パスワード</p></td>
					<td>@Html.TextBox("pass", "", new { maxlength = 20 })</td>
				</tr>

			</table>
				<button type="submit">ログイン</button>
		</form>
	</div>
	@*2023-06-24 Add 画面遷移エラーの検証*@
	<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LoginFail">ログイン失敗画面</a>

	
</div>